.info-block {
  display: block;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000000;
  background-color: #90EE90;
}

.alert {
  background-color: #FFFF00;
}

.vat-number-ok {
  padding: 0px;
  background-color: white;
  color: #007600;
}

.vat-number-bad {
  padding: 0px;
  background-color: white;
  color: red;
}

fieldset {
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 6px;
  margin: 0px;
  border:2px #ccc solid;
  margin-bottom: 20px;
  display: none;
}

legend {
  background-color: #7F7F7F;
  color: white;
  padding-left: 20px;
  font-size: 1em;
}

.fileinput-upload-button {
  display: none;
}

.vat_number {
  font-family: monospace;
}

.ok {
  color: #007600;
}

.bad {
  color: red;
}
